.header {
    position: relative;
    padding-top: 1.0625rem;
    padding-bottom: 0.625rem;

    img {
        width: 8.8125rem;
        height: 1.375rem;
    }

    display: flex;
    justify-content: space-between;
    background: #5CDB95;
}

.navBar{
    width: 200px;
    overflow: hidden;
    padding-right: 1.25rem;
    @include breakpoint-down(small){
        width: 17px;
    }
}
.menuNav {
    position: absolute;
    width: 200px;
    display: flex;
    justify-content: space-between;
    a{
        text-decoration: none;
        all:unset;
        color: #05386B;
    }

    @include breakpoint-down(small){
        visibility: hidden;
    }
}
.toggle{ 

    &__button {
    cursor: pointer;
    all: unset;

    @include breakpoint-up(medium){
        visibility: hidden;
    }
    }
    &__showMenu {
        list-style: none;
        visibility: visible;
        width: 100%;
        padding: 0;
        position: absolute;
        width: calc(100% - 3rem);
        left: 50%;
        transform: translateX(-50%);
        background: white;
        margin-top: 2.5rem;
        padding: 1.625rem;
        border-radius: 5px;
    
        a {
            display: block;
            padding: 0.625rem;
            color: #05386B;
            text-align: center;
            text-decoration: none;
        }
    }
}



